# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
logs/
npm-debug.log*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags
instance/*
!instance/.gitkeep

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info
build/
bootstrap/node_modules/

# Per-project virtualenvs
venv/